extends ../layouts/base
block content
  main
    section.download-page
      .container
        h1.mt-5 Готові розробки заходів
        p.mt-3 Скористайтеся досвідом колег, щоб знайти цікаві ідеї для власного заходу. Перейдіть за активним посиланням і скачайте готові розробки, опубліковані в журналі «Вихователь-методист дошкільного закладу»
        h2.mt-5 Майстер-класи
        .mt-3
          a(href="https://emetodyst.mcfr.ua/715417" target="_blank") Сучасні технології навчання на заняттях художньої літератури
        h2.mt-5 Тренінги
        .mt-3
          a(href="https://emetodyst.mcfr.ua/715415#1" target="_blank") Навчаємо дітей цікаво розповідати
          br
          a(href="https://emetodyst.mcfr.ua/729409" target="_blank") Розвиток образного мовлення дітей старшого дошкільного віку
        h2.mt-5 Семінари-практикуми
        .mt-3
          a(href="https://emetodyst.mcfr.ua/788394#1" target="_blank") У єдиному колі — в Новій українській школі
          br
          a(href="https://emetodyst.mcfr.ua/789186#1" target="_blank") Математичний розвиток дошкільників: теорія і практика
          br
          a(href="https://emetodyst.mcfr.ua/789192#1" target="_blank") Як навчити дітей розв’язувати арифметичні задачі

