extends ../layouts/base
block content
  main
    section.main-page
      .container.text-center
        h1.mt-5 КОНСТРУКТОР МЕТОДИЧНИХ ЗАХОДІВ
        p.sub-desc.mt-4 Сервіс допоможе підготуватися до методичного заходу. Перегляньте інструкцію та створіть план-конспект, наповніть його методичними іграми та вправами. За потреби скористайтеся готовими розробками.
        p Як користуватися сервісом 
          a(href="#") (інструкція під скачування)
        div.mt-4.btnsWrapper
          a(class="btn btn-warning" href="#" role="button") Скласти план-конспект
          a(class="btn btn-warning" href="#" role="button") Переглянути ігри та вправи
          a(class="btn btn-warning" href="download-box.html" role="button") Скачати готову розробку
        p.mt-4 Конструктор доступний передплатникам і користувачам за демодоступом
