html {
  // font-size: $startSize;
}
body {
  background: #f9f9f9;
  font-size: 1.4rem;
  font: 1rem/1.5 var(--bs-font-sans-serif);
}

a {
  color: var(--bs-orange);
  &:hover {
    color: var(--bs-yellow);
  }
}
.form-select,
.form-control {
  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgba($color: color(bs-orange), $alpha: 0.5);
    outline: 0;
    box-shadow: none;
  }
}
.form-check-input,
.btn {
  box-shadow: none;
  &:active:focus,
  &:active,
  &:focus {
    box-shadow: none;
  }
}

main {
  padding-bottom: 50px;
}
.main-page {
  .sub-desc {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--bs-gray);
  }

  .btnsWrapper {
    & > * {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1700px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1600px;
  }
}

.btn-warning {
  background: var(--bs-orange);
  &:focus {
    background: var(--bs-orange);
  }
  // color: white;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  &:hover,
  &:focus {
    color: var(--bs-orange);
  }
}

.theme-title {
  span {
    font-weight: 300;
    color: var(--bs-gray-dark);
  }
}

.form-wrapper {
  max-width: 600px;
}

.form-check-input {
  &:checked {
    background-color: color(bs-orange);
    border-color: color(bs-orange);
  }
}

label {
  cursor: pointer;
}

.modal-exesises {
  .form-check {
    padding-top: 20px;
    padding-bottom: 20px;
    // border-bottom: 1px solid rgba($color: #6c757d, $alpha: 0.3);

    &:nth-child(2n + 1) {
      padding-right: 20px;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.btnDownEx,
.btnUpEx {
  svg {
    width: 20px;
    height: 20px;
  }
}
.btnUpEx {
  svg {
    transform: rotate(-90deg);
  }
}
.btnDownEx {
  svg {
    transform: rotate(90deg);
  }
}

.ex-list-btns-wrapper {
  height: 31px;
  margin-top: 5px;
}

.ex-list-info {
  p {
    margin-top: 8px;
    margin-bottom: 0;
  }
  span {
    display: none;
    font-size: 14px;
    color: #6c757d;
  }
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.accordion-button:not(.collapsed) {
  color: color(bs-orange);
  background-color: rgba($color: color(bs-orange), $alpha: 0.1);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:hover {
  background-color: rgba($color: color(bs-orange), $alpha: 0.1);
}

.accordion-button:focus {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: none;
}

.accordion-button {
  text-align: left;
}

.exesises-custom-btn {
  color: color(bs-orange);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--bs-yellow);
  }
  &:active {
    color: darken($color: color(bs-orange), $amount: 1);
  }
}

#accordionGames {
  li {
    background-color: rgba($color: color(bs-orange), $alpha: 0.03);
    padding: 0 0 0;
    a {
      color: #000;

      text-decoration: none;
      display: block;
      padding: 10px 20px;
      font-size: 15px;
      // font-weight: 300;
      &:hover {
        background: rgba($color: color(bs-orange), $alpha: 0.02);
      }
      &:active {
        background: rgba($color: color(bs-orange), $alpha: 0.1);
      }

      &.active {
        color: color(bs-orange);
      }
    }

    &:last-child {
      padding: 0;
    }
  }
}

.exesises {
  display: flex;
  flex-wrap: wrap;

  & > * {
    width: 100%;
    border-bottom: 0;
    @include minLg() {
      width: 50%;
    }
  }
}

.modal-dialog {
  max-width: 700px;
}

.modal-footer {
  justify-content: center;
}

.accordion-button.collapsed {
  border-bottom-width: 0;

  &:focus {
    border-bottom-width: 0;
  }
}

.accordion-button {
  font-size: 1.1rem;
}
