include ../mixins/mixin
doctype html
html(lang=lang)

  include head

  body
    include ../components/header
    include ../components/menu

    block content

    include ../components/footer

  include scripts
