.modal.modal-exesises.fade(id="add-equipment-exesises" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add-equipment-exesises" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Додати вправу
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .exesises
            
      .modal-footer
        button.btn.btn-warning.btn-submit-ex(type='button' data-bs-dismiss='modal') Додати
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Закрити
